port {{ openvpn_port }}

# udp6 allows both IPv4 and IPv6 connections
proto udp6

dev tun
ca ca.crt
cert server.crt
key server.key
dh dh.pem
topology subnet
client-config-dir ccd
server {{ openvpn_ipv4_network | ipaddr('network') }} {{ openvpn_ipv4_network | ipaddr('netmask') }}
{% if openvpn_ipv4_routes is defined and openvpn_ipv4_routes is not none %}
{% for row in openvpn_ipv4_routes %}
route {{ row[0] | ipaddr('network') }} {{ row[0] | ipaddr('netmask') }}
push "route {{ row[0] | ipaddr('network') }} {{ row[0] | ipaddr('netmask') }}"
{% endfor %}
{% endif %}
server-ipv6 {{ openvpn_ipv6_network }}

#
# In certain cases, when using IPv6 as the transport protocol for the tunneled
# packets (proto udp6), the clients are not able to connect to the OpenVPN server
# using IPv6 because the OpenVPN server responds to the clients request using a
# different source address than the once that was used in the client's request
# packets. To fix this, we need to set multihome as an option in the server config.
# Don't know if this is a bug or intended behaviour.
#
# More info here: https://community.openvpn.net/openvpn/ticket/348
#
multihome

#
# There's a bug in OpenVPN where the internal IPv6 routes of a client
# are also getting pushed to that client
# Until that get's fixed we'll have assign a slightly smaller IPv6 prefix
# than the actual prefix. That way, even though the internal prefix is pushed
# to the client, the client will acutally follow the route with the larger
# prefix ( which would be the more specific route ). Eg:- pushing a /63
# route wouldn't matter if the interal route is a /64.
#
# This workaround was suggested in the following Bug link:
# https://community.openvpn.net/openvpn/ticket/354
#
{% if openvpn_ipv6_routes is defined and openvpn_ipv6_routes is not none %}
{% for row in openvpn_ipv6_routes %}
route-ipv6 {{ row[0] | ipv6 }}
push "route-ipv6 {{ row[0] | ipv6 }}"
{% endfor %}
{% endif %}

ifconfig-pool-persist ipp.txt
client-to-client
keepalive 10 120
tls-crypt ta.key
cipher AES-256-GCM
user nobody
group nogroup
persist-key
persist-tun
status-version 3
status openvpn-status.log
verb 3
explicit-exit-notify 1
auth sha256
remote-cert-tls client
crl-verify crl.pem
fast-io
