---
# Role to set up networking

- name: "Configuring systemd-networkd"
  vars: 
    v4_addr: "{{ ansible_facts['default_ipv4']['address'] }}/{{ ansible_facts['default_ipv4']['netmask'] }}"
  template:
    src: "wired.network.j2"
    dest: "/etc/systemd/network/wired.network"
    owner: root
    group: root
    mode: 0644

- name: "Disabling networking.service"
  systemd:
    name: "networking"
    enabled: no

- name: "Enabling systemd-networkd"
  systemd:
    name: "systemd-networkd"
    enabled: yes 

- name: "Enable IPv4 forwarding"
  sysctl:
    name: "net.ipv4.ip_forward"
    sysctl_file: "/etc/sysctl.d/ipv4.conf"
    value: "1"
    state: present

- name: "Enable IPv6 forwarding"
  sysctl:
    name: "net.ipv6.conf.all.forwarding"
    sysctl_file: "/etc/sysctl.d/ipv6.conf"
    value: "1"
    state: present
...
