.vault_password
ansible.cfg
inventory
vars.yml
roles/openvpn/files/secret/*
!roles/openvpn/files/secret/.gitkeep
roles/user-config/*
!roles/user-config/.gitkeep
roles/certbot/files/*
!roles/certbot/files/.gitkeep
roles/monitor/files/exec-scripts/*
!roles/monitor/files/exec-scripts/.gitkeep
