table inet filter {
	chain input {
		type filter hook input priority 0; policy drop;

		#Block the internet from accessing the syslog server
		udp dport 514 iifname "{{ ansible_facts['default_ipv4']['interface'] }}" reject;
	}
}
