# InfluxData repository
deb [signed-by=/usr/share/keyrings/influxdata.gpg] https://repos.influxdata.com/{{ ansible_facts.distribution | lower }} {{ ansible_facts.distribution_release | lower }} stable
