---
# Role to configure nftables

- name: "Install nftables"
  apt: {name: "nftables", state: present}

- name: "Copy nftables.conf"
  copy:
    src: "nftables.conf"
    dest: "/etc/nftables.conf"
    owner: root
    group: root
    mode: 0644
  notify:
    - "Restart nftables"

- name: "Ensuring nftables.d exists"
  file:
    path: "/etc/nftables.d"
    state: directory
    owner: root
    group: root
    mode: 0755

- name: "Copy nft-conntrack config"
  copy:
    src: "nft-conntrack.conf"
    dest: "/etc/nftables.d/00-conntrack.conf"
    owner: root
    group: root
    mode: 0644
  notify:
    - "Restart nftables"

- name: "Copy nft-blacklist config"
  copy:
    src: "nft-blacklist.conf"
    dest: "/etc/nftables.d/10-blacklist.conf"
    owner: root
    group: root
    mode: 0644
  notify:
    - "Restart nftables"

- name: "Copy nft-default config"
  copy:
    src: "nft-default.conf"
    dest: "/etc/nftables.d/20-default.conf"
    owner: root
    group: root
    mode: 0644
  notify:
    - "Restart nftables"

- name: "Enable nftables"
  systemd:
    name: "nftables"
    daemon-reload: yes
    enabled: yes
    state: started
...
