# Redirect all HTTP requests to HTTPS
server {
    listen 80 default_server;
    listen [::]:80 default_server;

    return 301 https://$host$request_uri;
}

# Set up a default HTTPS server
server {
    listen 443 default_server ssl http2;
    listen [::]:443 default_server ssl http2;

    server_tokens off;

    ssl_certificate /etc/letsencrypt/live/{{ host_name }}.{{ host_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ host_name }}.{{ host_domain }}/privkey.pem;
    ssl_session_timeout 1d;
    ssl_session_cache shared:MozSSL:10m;  # about 40000 sessions
    ssl_session_tickets off;

    # modern configuration
    ssl_protocols TLSv1.3;
    ssl_prefer_server_ciphers off;

    # HSTS (ngx_http_headers_module is required) (63072000 seconds)
    add_header Strict-Transport-Security "max-age=63072000" always;

    # OCSP stapling
    ssl_stapling on;
    ssl_stapling_verify on;

    # verify chain of trust of OCSP response using Root CA and Intermediate certs
    ssl_trusted_certificate /etc/letsencrypt/live/{{ host_name }}.{{ host_domain }}/chain.pem;

    # Disable gzip to mitigate BREACH attacks
    gzip off;

    root /srv/{{ host_name }}.{{ host_domain }};
    index index.html index.htm index.default.html;

    # Include location blocks for this server block
    include /etc/nginx/server-conf/{{ host_name }}.{{ host_domain }}/location/*.conf;
}
