---
# Role to install and configure znc 

- name: "Install znc"
  apt: {name: "znc", state: present}

- name: "Add zncd user"
  user:
    name: "zncd"
    shell: "/usr/sbin/nologin"
    comment: "ZNC Daemon User"
    home: "/var/lib/znc"
    state: present

- name: "Create znc config directory"
  file:
    path: "/var/lib/znc/.znc/configs"
    state: directory
    owner: "zncd"
    group: "zncd"
    mode: 0700

- name: "Copy znc config"
  template:
    src: "znc.conf.j2"
    dest: "/var/lib/znc/.znc/configs/znc.conf"
    lstrip_blocks: yes
    owner: "zncd"
    group: "zncd" 
    mode: 0600
  notify:
    - "Restart znc"

- name: "Copy nft-znc config"
  template:
    src: "nft-znc.conf.j2"
    dest: "/etc/nftables.d/50-znc.conf"
    owner: root
    group: root
    mode: 0644
  notify:
    - "Restart nftables"

- name: "Copy znc systemd service"
  copy:
    src: "znc.service"
    dest: "/etc/systemd/system/znc.service"
    owner: root
    group: root
    mode: 0644
  notify:
    - "Restart znc"

- name: "Setup SSL for ZNC"
  include_tasks: "ssl.yml"
  when: znc_listener_use_ssl == "true"

- name: "Enable and start znc before configuring the loaded modules"
  systemd:
    name: "znc"
    daemon-reload: yes
    enabled: yes
    state: started

- name: "Configure the SASL module for users"
  include_tasks: "znc-modules/sasl.yml"
  loop: "{{ znc_users | subelements('networks') }}"
  when: 
    - item.0.password|d("") != "" 
    - item.1.network_password|d("") != "" 

- name: "Check if znc admin users are available"
  set_fact:
    znc_admin_users: "{{ znc_users | selectattr('is_admin', 'defined') | selectattr('is_admin', 'eq', 'true') | list }}"

- name: "Get the first znc admin user"
  set_fact:
    znc_first_admin_user: "{{ znc_admin_users | first }}"
  when: (znc_admin_users | length) > 0

- name: "Configure the adminlog module"
  include_tasks: "znc-modules/adminlog.yml"
  when:
    - "'adminlog' in znc_global_load_modules"
    - znc_first_admin_user.password|d("") != ""
    - znc_first_admin_user.networks|length > 0

...
