# Tasks to setup SSL for ZNC

- name: "Install certbot"
  apt: {name: "certbot", state: present}

- name: "Setup nginx to allow the LetsEncrypt HTTP challenge"
  template:
    src: "nginx-lets-encrypt.conf.j2"
    dest: "/etc/nginx/sites-available/lets-encrypt.conf"
    owner: root
    group: root
    mode: 0644
  register: nginx_template_result

- name: "Enable the LetsEncrypt nginx config"
  file:
    src: "/etc/nginx/sites-available/lets-encrypt.conf"
    dest: "/etc/nginx/sites-enabled/lets-encrypt.conf"
    state: link
    owner: root
    group: root
  register: nginx_link_result

# Reload only if the nginx config changes
- name: "Reload nginx before starting the LetsEncrypt HTTP challenge"
  systemd:
    name: "nginx"
    state: "reloaded"
  when: nginx_template_result is changed or nginx_link_result is changed

- name: "Generate the LetsEncrypt SSL certificate"
  command:
    argv:
      - "/usr/bin/certbot"
      - "--non-interactive"
      - "--agree-tos"
      - "--email"
      - "{{ user_email }}"
      - "--domain"
      - "{{ host_name }}.{{ host_domain }}"
      - "--webroot"
      - "--webroot-path"
      - "/var/www/html"
      - "certonly"
    creates: "/etc/letsencrypt/live/{{ host_name }}.{{ host_domain }}/fullchain.pem"

- name: "Create the SSL directory in .znc"
  file:
    path: "/var/lib/znc/.znc/ssl"
    state: directory
    owner: "zncd"
    group: "zncd"
    mode: 0700

- name: "Copy the SSL files to ZNC's SSL directory"
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    remote_src: true
    mode: preserve
    owner: "zncd"
    group: "zncd"
  loop:
    - src: "/etc/letsencrypt/live/{{ host_name }}.{{ host_domain }}/fullchain.pem"
      dest: "/var/lib/znc/.znc/ssl/fullchain.pem"
    - src: "/etc/letsencrypt/live/{{ host_name }}.{{ host_domain }}/privkey.pem"
      dest: "/var/lib/znc/.znc/ssl/privkey.pem"

- name: "Generate DH params for ZNC"
  openssl_dhparam:
    path: "/var/lib/znc/.znc/ssl/dh.pem"
    state: present
    owner: "zncd"
    group: "zncd"
    size: 2048

- name: "Add znc-deploy.sh to certbot's renewal-hooks directory"
  template:
    src: "znc-deploy.sh.j2"
    dest: "/etc/letsencrypt/renewal-hooks/deploy/znc-deploy.sh"
    owner: root
    group: root
    mode: 0744
