---
# Role to install and configure OpenVPN

- name: "Install openvpn"
  apt: {name: "openvpn", state: present}

- name: "Setup openvpn server config"
  template:
    src: "server.conf.j2"
    dest: "/etc/openvpn/server/server.conf"
    owner: root
    group: root
    mode: 0644
  notify:
    - "Restart openvpn-server"

- name: "Copy the required openvpn files"
  copy: 
    src: "secret/{{ item }}"
    dest: "/etc/openvpn/server/{{ item }}"
    owner: root
    group: root
    mode: 0400
  loop:
    - "ca.crt"
    - "crl.pem"
    - "dh.pem"
    - "server.crt"
    - "server.key"
    - "ta.key"
  notify:
    - "Restart openvpn-server"

- name: "Ensuring client-config-dir exists"
  file:
    path: "/etc/openvpn/server/ccd"
    state: directory
    owner: root
    group: root
    mode: 0755

- name: "Create IPv4 CCD entries"
  lineinfile:
    line: "iroute {{ item[0] | ipaddr('network') }} {{ item[0] | ipaddr('netmask') }}"
    path: "/etc/openvpn/server/ccd/{{ item[1] }}"
    create: yes
    owner: root
    group: root
    mode: 0644
  when: "openvpn_ipv4_routes is defined"
  loop: "{{ openvpn_ipv4_routes }}"
  notify:
    - "Restart openvpn-server"

- name: "Create IPv6 CCD entries"
  lineinfile:
    line: "iroute-ipv6 {{ item[0] | ipv6 }}"
    path: "/etc/openvpn/server/ccd/{{ item[1] }}"
    create: yes
    owner: root
    group: root
    mode: 0644
  when: "openvpn_ipv6_routes is defined"
  loop: "{{ openvpn_ipv6_routes }}"
  notify:
    - "Restart openvpn-server"

- name: "Copy openvpn nftables config"
  template:
    src: "nft-openvpn.conf.j2"
    dest: "/etc/nftables.d/50-openvpn.conf"
    lstrip_blocks: yes
    owner: root
    group: root
    mode: 0644
  notify:
    - "Restart nftables"

- name: "Ensure openvpn-server@server.service.d exists"
  file:
    path: "/etc/systemd/system/openvpn-server@server.service.d"
    state: directory
    owner: root
    group: root
    mode: 0755

- name: "Configure openvpn-server@.service"
  copy:
    src: "openvpn-override.conf"
    dest: "/etc/systemd/system/openvpn-server@server.service.d/override.conf"
    owner: root
    group: root
    mode: 0644
  notify:
    - "Restart openvpn-server"

- name: "Enable openvpn server"
  systemd:
    name: "openvpn-server@server"
    daemon-reload: yes
    enabled: yes
...
